@import '../../../../variables';

.new-message-wrapper {
  height: 150px;

  #newMessageText {
    height: 30px;
    width: 169.5vh;
    font-size: 1.3em;
  }

  #message-button {
    height: 40px;
  }

  .form-control {
    border-radius: 0;
    border: 0;
    background-color: $light-gray;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
}
