@import '../../../../variables';

.new-message-wrapper {
  height: 125px;
  #newMessageText {
    width: 99.6%;
    font-size: 1.3em;
  }

  .form-control {
    border-radius: 0;
    border: 0;
    background-color: $light-gray;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
}
