<div class="chat-window">
  <ng-container *ngIf="!chatroom else chatMessages">
    <div class="select-room">
      <div class="select-room-message">
        <strong>Select a Room</strong>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #chatMessages>
  <app-chat-chatroom-title-bar [title]="chatroom.name"></app-chat-chatroom-title-bar>
  <div class="message-wrapper" #scrollContainer>
    <ng-container *ngFor="let message in messages">
      <app-chat-chatroom-message [message]="message"></app-chat-chatroom-message>
    </ng-container>
  </div>
  <app-chat-input></app-chat-input>
</ng-template>
