@import '../../../../variables';

.chatroom-list {
  border-right: 2px solid $light-gray;
  height: calc(100vh - 135px);
  overflow-y: scroll;

  .chatroom-list-item {
    border-bottom: 1px solid $light-gray;
    border-top: 1px solid $light-gray;
    padding: 0.5em 3.5em 0.5em 5em;
  }
}
