@import '../../../../variables';

.chatroom-list {
  height: calc(100vh - 150px);

  .chatroom-list-item {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    padding: 1.5em 5.5em 0.5em 0.5em;

    .actual-room {
      margin-left: 20px;
      font-size: 20px;
    }
  }
}
