@import '../../variables';

#login-card {
  max-width: 250px;
  margin: 5% auto;
}

h2 {
  color: $secondary;
  margin-left: 3em;
  margin-bottom: 1em;
}

#error-message {
  text-align: center;
  margin-top: 20px;
  color: red;
}
