<div id="error-message" *ngIf="hasError">
  <h3>{{errorMessage}}</h3>
</div>
<mat-card id="signup-card">
  <mat-card-header >
    <h2>Sign Up</h2>
    <mat-icon class="material-icons help-icon" (click)="openDialog();" title="Password Help">help</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signupForm" (submit)="submit()">
      <mat-form-field appearance="outline" class="full-width">
        <input matInput type="email" id="email-input"
          placeholder="Enter Email" formControlName="email" required>
          <mat-error *ngIf="f.email.touched && f.email.invalid">
            <span class="error">
              {{getEmailErrorMessage()}}
            </span>
          </mat-error>
      </mat-form-field>
      <br/><br/>
      <span>
        <mat-form-field appearance="outline" class="half-width firstname-input">
          <input matInput type="text" placeholder="Enter First Name" formControlName="firstName" required>
            <mat-error *ngIf="f.firstName.touched && f.firstName.invalid">
              <span class="error">
                {{getFirstNameErrorMessage()}}
              </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="half-width lastname-input">
          <input matInput type="text" placeholder="Enter Last Name" formControlName="lastName" required>
            <mat-error *ngIf="f.lastName.touched && f.lastName.invalid">
              <span class="error">
                {{getLastNameErrorMessage()}}
              </span>
            </mat-error>
        </mat-form-field>
      </span>
      <br/><br/>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput [type]="hide ? 'password' : 'text'" id="password-input"
          placeholder="Enter Password" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide" required inline>
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="f.password.touched && f.password.invalid">
          <span class="error">
            {{getPasswordErrorMessage()}}
            <span *ngIf="!f.password.errors?.required">
              <mat-icon class="material-icons">help</mat-icon>
              on top.
            </span>
          </span>
        </mat-error>
      </mat-form-field>
      <br/><br/>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput [type]="hidec ? 'password' : 'text'" id="confirmed-input"
          placeholder="Enter Confirmed Password" formControlName="confirmed" required>
        <button mat-icon-button matSuffix (click)="hidec=!hidec" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidec" required inline>
        <mat-icon>{{hidec ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="f.confirmed.touched && f.confirmed.invalid">
          <span class="error">
            {{getConfirmedErrorMessage()}}
            <span *ngIf="!f.confirmed.errors?.required">
              <mat-icon class="material-icons">help</mat-icon>
              on top.
            </span>
          </span>
        </mat-error>
      </mat-form-field>
      <br/><br/>
      <button mat-raised-button type="submit" color="primary" [disabled]="!signupForm.valid">Signup</button>
    </form>
  </mat-card-content>
  <small><a [routerLink]="'/login'">Already have an Account?</a></small>
</mat-card>
