<div class="container form-wrapper">
  <mat-card id="login-card">
    <mat-card-header >
      <h2>Signup</h2>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signupForm" (submit)="submit()" novalidate>
        <mat-form-field class="full-width">
          <input matInput type="email" id="email-input"
            placeholder="Enter Email" formControlName="Email" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [type]="hide ? 'password' : 'text'" id="password-input"
            placeholder="Enter Password" formControlName="Password" required>
          <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" required inline>
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="!signupForm.valid">Signup</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
