@import '../../variables';

#signup-card {
  max-width: 500px;
  margin: 4% auto;
}

h2 {
  color: $secondary;
  margin-left: 8.8em;
  margin-bottom: 1em;
}

#error-message {
  text-align: center;
  margin-top: 20px;
  color: red;
}

.firstname-input {
  margin-right: 0.7em;
}

.lastname-input {
  margin-left: 0.7em;
}
