<mat-grid-list cols="15" class="chat-message">
  <mat-grid-tile>
    <img [src]="message.sender.photoUrl" class="rounded-circle">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="14" rowHeight="100px">
    <div class="chat-content">
      <div class="name">
        {{message.sender.firstName}} {{message.sender.lastName}}
      </div>
      <small class="timestamp">{{message.createdAt | date:'medium'}}</small>
      <div class="message">{{message.message}}</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
