<!-- <mat-grid-list rows="15" cols="15" rowHeight="13:1" class="chat-message">
  <mat-grid-tile>
    <img [src]="message.sender.photoUrl" class="rounded-circle">
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="14" [colspan] = "13">
    <div class="chat-content">
      <div class="name">
        {{message.sender.firstName}} {{message.sender.lastName}}
      </div>
      <small class="timestamp">{{message.createdAt | date:'medium'}}</small>
      <div class="message">{{message.message}}</div>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->

<div class="chat-message">
  <div class="image-wrapper">
    <img [src]="message.sender.photoUrl" class="rounded-circle">
  </div>
  <div class="chat-content">
    <div class="name">
      {{message.sender.firstName}} {{message.sender.lastName}}
    </div>
    <small class="timestamp" *ngIf="message.createdAt">
      {{convertDate() | date:'medium'}}
    </small>
    <div class="message">
      {{message.message}}
    </div>
  </div>
</div>
