<mat-grid-list cols="15" class="chat-message">
  <mat-grid-tile>
    <img [src]="Message.Sender.PhotoUrl" class="rounded-circle">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="14" rowHeight="100px">
    <div class="chat-content">
      <div class="name">
        {{Message.Sender.FirstName}} {{Message.Sender.LastName}}
      </div>
      <small class="timestamp">{{Message.CreatedAt | date:'medium'}}</small>
      <div class="message">{{Message.Message}}</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
