<div class="app-{{appId}}-theme" id="appRootClass">
  <!-- <mat-sidenav-container class="side-nav" fullscreen>
    <mat-sidenav #sidenav closed mode="side" position="start">
      <div *ngIf="isLoggedIn else sbLoggedOut" class="startNavList">
        <mat-nav-list>
          <h2>Portal Menu</h2>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon">format_color_fill</mat-icon>Select Theme
          </a>
          <mat-menu #menu="matMenu">
            <button value='theme1' mat-menu-item (click)="switchTheme('theme1')">Default</button>
            <button value='theme2' mat-menu-item (click)="switchTheme('theme2')">Indigo</button>
            <button value='theme3' mat-menu-item (click)="switchTheme('theme3')">Orange</button>
          </mat-menu>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="''">
            <mat-icon class="icon">home</mat-icon>
            <span class="navMenu">Home</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="'dashboard'" routerLinkActive="active">
            <mat-icon class="icon">dashboard</mat-icon>
            <span class="navMenu">Dashboard</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="'chat'" routerLinkActive="active">
            <mat-icon class="icon">chat</mat-icon>
            <span class="navMenu">Chat</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="'about'" routerLinkActive="active">
            <mat-icon class="icon">info</mat-icon>
            <span class="navMenu">About</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button (click)="logout()">
            <mat-icon class="icon">input</mat-icon>
            <span class="navMenu">Logout</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button (click)="sidenav.toggle()">
            <mat-icon class="icon">close</mat-icon>
            <span class="navMenu">Close</span>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
      <mat-sidenav-content> -->
        <mat-toolbar color="warn" class="tool-bar">
          <mat-toolbar-row>
            <!-- <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button> -->
            <span class="ml5">
              <span id="project-title">Angular Management Portal</span>
            </span>
            <div class="menu-spacer" *ngIf="isLoggedIn else loggedOut">
              <a mat-button [routerLink]="'chat'">
                <mat-icon class="icon">home</mat-icon>
                <span class="navMenu">Home</span>
              </a>
              <a mat-button [routerLink]="'dashboard'" routerLinkActive="active">
                <mat-icon class="icon">dashboard</mat-icon>
                <span class="navMenu">Dashboard</span>
              </a>
              <a mat-button [routerLink]="'chat'" routerLinkActive="active">
                <mat-icon class="icon">chat</mat-icon>
                <span class="navMenu">Chat</span>
              </a>
              <a mat-button [routerLink]="'about'" routerLinkActive="active">
                <mat-icon class="icon">info</mat-icon>
                <span class="navMenu">About</span>
              </a>
              <a mat-button (click)="logout()" id="logoutLink">
                <mat-icon class="icon">input</mat-icon>
                <span class="navMenu">Logout</span>
              </a>
              <a mat-button [matMenuTriggerFor]="menu">
                <mat-icon class="icon">format_color_fill</mat-icon>Select Theme
              </a>
              <mat-menu #menu="matMenu">
                <button value='theme1' mat-menu-item (click)="switchTheme('theme1')">Default</button>
                <button value='theme2' mat-menu-item (click)="switchTheme('theme2')">Indigo</button>
                <button value='theme3' mat-menu-item (click)="switchTheme('theme3')">Orange</button>
              </mat-menu>
            </div>
            <div id="searchDiv">
              <form [formGroup]="navForm">
                <mat-form-field appearance="legacy" id="searchBar">
                  <input type="text" matInput formControlName="search" [matAutocomplete]="auto"
                      placeholder="Search" (keyup.enter)="searchMe()">
                  <mat-icon matSuffix [inline]="true">search</mat-icon>
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
                      {{ author }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      <!-- </mat-sidenav-content>
  </mat-sidenav-container> -->
</div>

<ng-template #loggedOut>
  <span class="menu-spacer">
    <a mat-button [routerLink]="'login'" routerLinkActive="active">
      <mat-icon class="icon">input</mat-icon>
      <span class="navMenu">Login</span>
    </a>
    <a mat-button [routerLink]="'signup'" routerLinkActive="active">
      <mat-icon class="icon">edit</mat-icon>
      <span class="navMenu">Sign Up</span>
    </a>
    <!-- <a mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="icon">format_color_fill</mat-icon>Select Theme
    </a>
    <mat-menu #menu="matMenu">
      <button value='theme1' mat-menu-item (click)="switchTheme('theme1')">Default</button>
      <button value='theme2' mat-menu-item (click)="switchTheme('theme2')">Indigo</button>
      <button value='theme3' mat-menu-item (click)="switchTheme('theme3')">Orange</button>
    </mat-menu> -->
  </span>
</ng-template>

<!-- <ng-template #sbLoggedOut>
  <div class="startNavList">
  <mat-nav-list>
    <h2>Portal Menu</h2>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-button [routerLink]="'login'" routerLinkActive="active">
      <mat-icon class="icon">input</mat-icon>
      <span class="navMenu">Login</span>
    </a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-button [routerLink]="'signup'" routerLinkActive="active">
      <mat-icon class="icon">edit</mat-icon>
      <span class="navMenu">Sign Up</span>
    </a>
  </mat-nav-list>
  <mat-nav-list>
    <a mat-button (click)="sidenav.toggle()">
      <mat-icon class="icon">close</mat-icon>
      <span class="navMenu">Close</span>
    </a>
  </mat-nav-list>
  </div>
</ng-template> -->
